<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Events · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
      window.userToken = "<%= @conn.assigns[:user_token] %>";
    </script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">EventPlanner</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/users">Directory</a></li>
      </ul>
      <%= if @conn.assigns[:current_user] do %>
        <div class="text-light my-2">
          <img src="<%= Routes.user_path(@conn, :photo, @current_user) %>" alt="profile" style="max-height: 50px" class="rounded">
          <span class="mx-1"><%= @current_user.name %></span>
          <%= link "Edit", to: Routes.user_path(@conn, :edit, @current_user), class: "btn btn-outline-success mx-1" %>
          <%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete, class: "btn btn-outline-success mx-1" %>
        </div>
      <% else %>
        <div class="form-inline my-2">
          <%= form_for @conn, Routes.session_path(@conn, :create), fn f -> %>
            <%= hidden_input f, :redirect_to, value: @conn.request_path %>
            <%= text_input f, :email, class: "form-control mx-1", placeholder: "Email" %>
            <%= submit "Login", class: "btn btn-outline-success mx-1" %>
          <% end %>
          <%= link "Register", to: Routes.user_path(@conn, :new, redirect_to: @conn.request_path), class: "btn btn-outline-success mx-1" %>
        </div>
      <% end %>
    </nav>
    <div role="main" class="container">
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <%= @inner_content %>


    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
          <% end %>
          | &#169; samedh.site |
        </span>
      </div>
    </footer>
  </body>
</html>
